<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/">
      <p>Name: <input type="string" name="name"></p>
      <p>Breed: <input type="string" name="breed"></p>
      <p>Age: <input type="string" name="age"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
