<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your puppy</title>
  </head>
  <body>
    <h1>Your puppy info</h1>
    <h2>Puppy Name:</h2>
    <h2><%= @pup.name%></h2>
    <h2>Puppy Breed:</h2>
    <h2><%= @pup.breed%></h2>
    <h2>Puppy Age:</h2>
    <h2><%= @pup.age%></h2> 
  </body>
</html>